table {
  width: 20vw;
  thead {
    tr {
      th {
        color: white;
        background-color: rgb(7, 104, 159);
        margin-left: 1px;
      }
    }
  }
  tbody {
    tr {
      text-transform: uppercase;
      .code {
        color: rgb(7, 104, 159);
        background-color: transparent;
        cursor: pointer;
      }
      .hold {
        color: white;
        background-color: rgb(0, 147, 0);
        font-weight: 500;
      }
      .sell {
        color: white;
        background-color: rgb(255, 74, 104);
        font-weight: 500;
      }
      .percent_hold {
        color: rgb(0, 147, 0);
      }
      .percent_sell {
        color: rgb(255, 74, 104);
      }
    }
  }
}
